<div *ngIf="form" class="center">
  <div *ngIf="displayAlert" class="alert alert-danger" role="alert">
    ERREUR KEY
  </div>
  <p i18n="@@login">Se connecter</p>

  <app-input
    [fGroup]="form"
    [fControl]="form.get('username')"
    [icon]="'id-badge'"
    [placeholder]="'Nom d\'utilisateur'"
    [type]="'text'"
    i18n-[placeholder]="@@username"
  ></app-input>

  <app-input
    [fGroup]="form"
    [fControl]="form.get('password')"
    [icon]="'lock'"
    [placeholder]="'Mot de passe'"
    [type]="'password'"
    i18n-[placeholder]="@@password"
  ></app-input>

  <div class="text-center">
    <button (click)="handleClickLogin()" mdbBtn type="button" gradient="blue" rounded="true" mdbWavesEffect i18n="@@login">Se connecter</button>
  </div>
</div>
