<table class="table table-striped">
    <thead>
      <tr>
          <th></th>
          <th i18n="@@objectif">Objectif</th>
          <th *ngFor="let sale of sales;"> {{ sale.month.toLocaleString('default', { month: 'long', year: 'numeric'}) }}</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td (click)="setGraphBy('Montants signés', 0)" i18n="@@signedAmounts">Montants signés</td>
          <td>
            <input (keydown)="setObjectif('signed_sales', 0, $event)"type="number" value="13000" />
          </td>
          <td *ngFor="let sale of sales">{{ sale.signed_sales }}</td>
        </tr>
        <tr>
          <td (click)="setGraphBy('Nombre de 1er contact', 1)" i18n="@@firstContactNbr">Nombre de 1er contact</td>
          <td>
            <input (keydown)="setObjectif('nb_contact', 1, $event)"type="number" value="10" />
          </td>
          <td *ngFor="let sale of sales">{{ sale.nb_contact }}</td>
        </tr>
        <tr>
          <td (click)="setGraphBy('Nombre de ventes gagnées', 2)" i18n="@@wonSalesNbr">Nombre de ventes gagnées</td>
          <td>
            <input (keydown)="setObjectif('earned_sales', 2, $event)"type="number" value="10" />
          </td>
          <td *ngFor="let sale of sales">{{ sale.earned_sales }}</td>
        </tr>
        <tr>
          <td (click)="setGraphBy('Nombre de ventes abandonnées', 3)" i18n="@@gaveUpSalesNbr">Nombre de ventes abandonnées</td>
          <td>
              <input (keydown)="setObjectif('renounced_sales', 3, $event)"type="number" value="1" />
          </td>
          <td *ngFor="let sale of sales">{{ sale.renounced_sales }}</td>
        </tr>
    </tbody>
  </table>

  <ngx-charts-area-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="data"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale">
    </ngx-charts-area-chart>