.modal-dialog {
  max-width: 700px;
}

.attachmentName {
  max-width: 200px;
  min-width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.icon {
  align-self: center;
  margin-left: 5px;
  cursor: pointer;

}


