<div>
  <div>
    <app-add-sales class="btn-add" (notifyAdSale)="handleNotifyRefresh($event)"></app-add-sales>
  </div>
  <div>
    <div id="table" class="table-editable">
      <table class="table table-bordered table-responsive-md table-striped text-center">
        <tr>
          <th class="text-center">Name School Key</th>
          <th class="text-center">First name contact KEy</th>
          <th class="text-center">Lastname name contact KEy</th>
          <th class="text-center">sale_action _state KEY</th>
          <th class="text-center">sale_source KEY</th>
          <th class="text-center">sale_state KEY</th>
          <th class="text-center">dt_next_ action KEY</th>
          <th class="text-center">amount_ signed KEY</th>
          <th class="text-center">dt_ created KEY / dt_update KEY</th>
          <th class="text-center">comment KEY</th>
          <th class="text-center">attachments KEY</th>
          <th class="text-center"></th>
        </tr>
        <tr app-row-tab *ngFor="let saleShare of saleShareList" [saleShare]="saleShare" (notifyDelete)="handleNotifyRefresh($event)">
          <!--<app-row-tab [saleShare]="saleShare"></app-row-tab>-->
        </tr>
      </table>
    </div>
  </div>
</div>
