.td-input-text {
  width: 120px;
  padding: 3px;
}


.td-amount {
  width: 65px;
}

.icon-delete {
  color: red;
  cursor: pointer;
  align-self: center;
}

td {
  vertical-align: middle;
  border: solid 2px lightgray;
}

.attachment {
  color: blue;
  cursor: pointer;
  overflow: hidden;
  width: 150px;
  text-overflow: ellipsis;
}

.attachment:hover {
  text-decoration: underline;
}

.td-attachments {
  max-width: 200px;
  padding: 0;
}
