<ng-container [formGroup]="form">
<td class="td-input-text">
  <app-input
    [fGroup]="form"
    [fControl]="form.get('name')"
    [type]="'text'"
  ></app-input>
</td>

<td class="td-input-text">
  <app-input
    [fGroup]="form"
    [fControl]="form.get('contact_firstname')"
    [type]="'text'"
  ></app-input>

  <app-input
    [fGroup]="form"
    [fControl]="form.get('contact_lastname')"
    [type]="'text'"
  ></app-input>
</td>

<!--<td class="td-input-text">-->

<!--</td>-->

<td>
  <select class="browser-default custom-select" formControlName="sale_action_state">
    <option *ngFor="let saleAS of saleActionStateTab" value="{{saleAS.value}}" i18n="@@salesActionStates">{saleAS.label, select, Fini {Fini} En cours {En cours} Pause {Pause} Stoppé {Stoppé} A faire {A faire}}</option>
  </select>
</td>

<td>
  <select placeholder="Source de la vente" i18n-placeholder="@@salesSource" class="browser-default custom-select" formControlName="sale_source">
    <option *ngFor="let saleS of saleSourceTab" value="{{saleS.value}}" i18n="@@salesSources">{saleS.label, select, Démarchage {Démarchage} Appel entrant {Appel entrant} Salon {Salon} Réseau {Réseau} Bouche à oreille {Bouche à oreille}}</option>
  </select>
</td>

<td>
  <select placeholder="Statut de la vente" i18n-placeholder="@@salesStatus" class="browser-default custom-select" formControlName="sale_state">
    <option *ngFor="let saleState of saleStateTab" value="{{saleState.value}}" i18n="@@salesActions">{saleState.label, select, Abandon {Abandon} Premier contact {Premier contact} Négotiation {Négotiation} Proposition {Proposition} Refus {Refus} Relance {Relance} Gagné {Gagné}}</option>
  </select>
</td>

  <td>
    <app-input
      [fGroup]="form"
      [fControl]="form.get('dt_next_action')"
      [type]="'date'"
    ></app-input>
  </td>

  <td class="td-amount">
    <app-input
      [fGroup]="form"
      [fControl]="form.get('amount_signed')"
      [type]="'text'"
    ></app-input>
  </td>

  <td>
    <b i18n="@@created">Crée le :</b>
    <div>{{saleShare.dt_created}}</div>
    <br>
    <b i18n="@@modified">Modifié le :</b>
    <div *ngIf="saleShare.dt_update != saleShare.dt_created">{{saleShare.dt_update}}</div>
  </td>

  <td class="td-input-text">
    <div class="md-form">
      <textarea type="text" id="form8" class="md-textarea form-control" formControlName="comment" mdbInput></textarea>
    </div>
  </td>
  <td>
    <div *ngFor="let a of attachments" class="flex">
      <span class="attachment" (click)="downloadFile(a.attachment, a.name.substr(23))">{{a.name.substr(23)}}</span>
      <mdb-icon (click)="handleClickDeleteAttachment(a)"  fas icon="times-circle" class="prefix icon-delete"></mdb-icon>
    </div>
  </td>
  <td>
    <mdb-icon (click)="handleClickDelete()"  fas icon="times-circle" class="prefix icon-delete"></mdb-icon>
  </td>
</ng-container>
