.center {
  width: 50%;
  margin: auto;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.jc-sa {
  justify-content: space-around;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.w-50 {
  width: 50%;
}

.mr-20 {
 margin-right: 20px;
}

.ml-20 {
 margin-left: 20px;
}

.mt-50 {
  margin-top: 50px;
}

.mt-10 {
  margin-top: 10px;
}

.alert {
  position: fixed;
  width: 300px;
  text-align: center;
  transform: translateX(-50%);
  left: 50%;
}
