<div *ngIf="fGroup" [formGroup]="fGroup" class="md-form" [class.mt-50]="type == 'date'">
    <mdb-icon *ngIf="icon" fas icon="{{icon}}" class="prefix"></mdb-icon>
    <input id="{{id}}" mdbInput mdbValidate [formControl]="fControl"  type="{{type}}" class="form-control">
    <label for="{{id}}">{{placeholder}}</label>

  <mdb-error *ngIf="fControl.invalid && (fControl.dirty || fControl.touched) && fControl.hasError('required')" i18n>Erreur Required</mdb-error>
  <mdb-error *ngIf="fControl.invalid && (fControl.dirty || fControl.touched) && fControl.hasError('maxlength')" i18n>Erreur Length</mdb-error>

</div>
